body{
    /* padding: 0 5%; */
    width: 99%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('images/slider.webp');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.hero-text>h2{
    color:#cfcfcf;
    font-size: 4rem;
}
.hidden{
    display: none;
}

.moda{
    margin-top: 20px ;
    color: snow;
}
.hero-text>h3{
    color:#cfcfcf;
    font-size: 3rem;
}
form{
    display: flex;
    gap: 10px;
    /* width: 100%; */

}

#name{
    width: 20rem;
}
input{  
    width: 35rem;
    height: 4rem;
    border-radius: 30px;
    border: none;
    text-align: center;
    background-color: snow
}
input:focus{
    outline: none;
}

/* .red{
    color:  #f34e3a;;
} */

button{
    border: none;
    width: 10rem;
    height: 4rem;
    border-radius: 35px;
    font-size: large;
    font-weight:700;
    background-color: #cfcfcf;
    color: black;

}


button:hover{
    opacity: 85%;
    color: black;
}

@media only screen and  (max-width: 767px) {
    /* CSS styles for big screen phones */
    /* Add your styles here */
    body{
        /* padding: 0 5%; */
        width: 99%;
        height: 99vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 3%;
    }

    .hero-text>h2{
      
        font-size: 3rem;
    }

    .hero-text>h3{
       
    font-size: 2.1rem;
    }
    form{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
    }
    #name{
        width: 20rem;
    }
    input{    
    width: 20rem;
    height: 4rem;
    }

    button{
        width: 20rem;
        height: 3rem;
    }

  }